.flag-sprite {
	background:url('flag-sprite.png') no-repeat top left; display:inline-block;
}
.flag-sprite.Abkhazia {
	background-position:0 -0px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Afghanistan {
	background-position:0 -64px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Aland {
	background-position:0 -128px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Albania {
	background-position:0 -192px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Algeria {
	background-position:0 -256px;
	width: 64px;
	height: 64px;
}
.flag-sprite.American-Samoa {
	background-position:0 -320px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Andorra {
	background-position:0 -384px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Angola {
	background-position:0 -448px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Anguilla {
	background-position:0 -512px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Antarctica {
	background-position:0 -576px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Antigua-and-Barbuda {
	background-position:0 -640px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Argentina {
	background-position:0 -704px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Armenia {
	background-position:0 -768px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Aruba {
	background-position:0 -832px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Australia {
	background-position:0 -896px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Austria {
	background-position:0 -960px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Azerbaijan {
	background-position:0 -1024px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bahamas {
	background-position:0 -1088px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bahrain {
	background-position:0 -1152px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bangladesh {
	background-position:0 -1216px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Barbados {
	background-position:0 -1280px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Basque-Country {
	background-position:0 -1344px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Belarus {
	background-position:0 -1408px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Belgium {
	background-position:0 -1472px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Belize {
	background-position:0 -1536px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Benin {
	background-position:0 -1600px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bermuda {
	background-position:0 -1664px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bhutan {
	background-position:0 -1728px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bolivia {
	background-position:0 -1792px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bosnia-and-Herzegovina {
	background-position:0 -1856px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Botswana {
	background-position:0 -1920px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Brazil {
	background-position:0 -1984px;
	width: 64px;
	height: 64px;
}
.flag-sprite.British-Antarctic-Territory {
	background-position:0 -2048px;
	width: 64px;
	height: 64px;
}
.flag-sprite.British-Virgin-Islands {
	background-position:0 -2112px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Brunei {
	background-position:0 -2176px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Bulgaria {
	background-position:0 -2240px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Burkina-Faso {
	background-position:0 -2304px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Burundi {
	background-position:0 -2368px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cambodia {
	background-position:0 -2432px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cameroon {
	background-position:0 -2496px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Canada {
	background-position:0 -2560px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Canary-Islands {
	background-position:0 -2624px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cape-Verde {
	background-position:0 -2688px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cayman-Islands {
	background-position:0 -2752px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Central-African-Republic {
	background-position:0 -2816px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Chad {
	background-position:0 -2880px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Chile {
	background-position:0 -2944px;
	width: 64px;
	height: 64px;
}
.flag-sprite.China {
	background-position:0 -3008px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Christmas-Island {
	background-position:0 -3072px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cocos-Keeling-Islands {
	background-position:0 -3136px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Colombia {
	background-position:0 -3200px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Commonwealth {
	background-position:0 -3264px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Comoros {
	background-position:0 -3328px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cook-Islands {
	background-position:0 -3392px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Costa-Rica {
	background-position:0 -3456px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cote-dIvoire {
	background-position:0 -3520px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Croatia {
	background-position:0 -3584px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cuba {
	background-position:0 -3648px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Curacao {
	background-position:0 -3712px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Cyprus {
	background-position:0 -3776px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Czech-Republic {
	background-position:0 -3840px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Democratic-Republic-of-the-Congo {
	background-position:0 -3904px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Denmark {
	background-position:0 -3968px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Djibouti {
	background-position:0 -4032px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Dominica {
	background-position:0 -4096px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Dominican-Republic {
	background-position:0 -4160px;
	width: 64px;
	height: 64px;
}
.flag-sprite.East-Timor {
	background-position:0 -4224px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Ecuador {
	background-position:0 -4288px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Egypt {
	background-position:0 -4352px;
	width: 64px;
	height: 64px;
}
.flag-sprite.El-Salvador {
	background-position:0 -4416px;
	width: 64px;
	height: 64px;
}
.flag-sprite.England {
	background-position:0 -4480px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Equatorial-Guinea {
	background-position:0 -4544px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Eritrea {
	background-position:0 -4608px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Estonia {
	background-position:0 -4672px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Ethiopia {
	background-position:0 -4736px;
	width: 64px;
	height: 64px;
}
.flag-sprite.European-Union {
	background-position:0 -4800px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Falkland-Islands {
	background-position:0 -4864px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Faroes {
	background-position:0 -4928px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Fiji {
	background-position:0 -4992px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Finland {
	background-position:0 -5056px;
	width: 64px;
	height: 64px;
}
.flag-sprite.France {
	background-position:0 -5120px;
	width: 64px;
	height: 64px;
}
.flag-sprite.French-Polynesia {
	background-position:0 -5184px;
	width: 64px;
	height: 64px;
}
.flag-sprite.French-Southern-Territories {
	background-position:0 -5248px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Gabon {
	background-position:0 -5312px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Gambia {
	background-position:0 -5376px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Georgia {
	background-position:0 -5440px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Germany {
	background-position:0 -5504px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Ghana {
	background-position:0 -5568px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Gibraltar {
	background-position:0 -5632px;
	width: 64px;
	height: 64px;
}
.flag-sprite.GoSquared {
	background-position:0 -5696px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Greece {
	background-position:0 -5760px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Greenland {
	background-position:0 -5824px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Grenada {
	background-position:0 -5888px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guam {
	background-position:0 -5952px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guatemala {
	background-position:0 -6016px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guernsey {
	background-position:0 -6080px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guinea-Bissau {
	background-position:0 -6144px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guinea {
	background-position:0 -6208px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Guyana {
	background-position:0 -6272px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Haiti {
	background-position:0 -6336px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Honduras {
	background-position:0 -6400px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Hong-Kong {
	background-position:0 -6464px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Hungary {
	background-position:0 -6528px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Iceland {
	background-position:0 -6592px;
	width: 64px;
	height: 64px;
}
.flag-sprite.India {
	background-position:0 -6656px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Indonesia {
	background-position:0 -6720px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Iran {
	background-position:0 -6784px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Iraq {
	background-position:0 -6848px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Ireland {
	background-position:0 -6912px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Isle-of-Man {
	background-position:0 -6976px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Israel {
	background-position:0 -7040px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Italy {
	background-position:0 -7104px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Jamaica {
	background-position:0 -7168px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Japan {
	background-position:0 -7232px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Jersey {
	background-position:0 -7296px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Jordan {
	background-position:0 -7360px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kazakhstan {
	background-position:0 -7424px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kenya {
	background-position:0 -7488px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kiribati {
	background-position:0 -7552px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kosovo {
	background-position:0 -7616px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kuwait {
	background-position:0 -7680px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Kyrgyzstan {
	background-position:0 -7744px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Laos {
	background-position:0 -7808px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Latvia {
	background-position:0 -7872px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Lebanon {
	background-position:0 -7936px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Lesotho {
	background-position:0 -8000px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Liberia {
	background-position:0 -8064px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Libya {
	background-position:0 -8128px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Liechtenstein {
	background-position:0 -8192px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Lithuania {
	background-position:0 -8256px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Luxembourg {
	background-position:0 -8320px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Macau {
	background-position:0 -8384px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Macedonia {
	background-position:0 -8448px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Madagascar {
	background-position:0 -8512px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Malawi {
	background-position:0 -8576px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Malaysia {
	background-position:0 -8640px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Maldives {
	background-position:0 -8704px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mali {
	background-position:0 -8768px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Malta {
	background-position:0 -8832px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mars {
	background-position:0 -8896px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Marshall-Islands {
	background-position:0 -8960px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Martinique {
	background-position:0 -9024px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mauritania {
	background-position:0 -9088px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mauritius {
	background-position:0 -9152px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mayotte {
	background-position:0 -9216px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mexico {
	background-position:0 -9280px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Micronesia {
	background-position:0 -9344px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Moldova {
	background-position:0 -9408px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Monaco {
	background-position:0 -9472px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mongolia {
	background-position:0 -9536px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Montenegro {
	background-position:0 -9600px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Montserrat {
	background-position:0 -9664px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Morocco {
	background-position:0 -9728px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Mozambique {
	background-position:0 -9792px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Myanmar {
	background-position:0 -9856px;
	width: 64px;
	height: 64px;
}
.flag-sprite.NATO {
	background-position:0 -9920px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Nagorno-Karabakh {
	background-position:0 -9984px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Namibia {
	background-position:0 -10048px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Nauru {
	background-position:0 -10112px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Nepal {
	background-position:0 -10176px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Netherlands-Antilles {
	background-position:0 -10240px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Netherlands {
	background-position:0 -10304px;
	width: 64px;
	height: 64px;
}
.flag-sprite.New-Caledonia {
	background-position:0 -10368px;
	width: 64px;
	height: 64px;
}
.flag-sprite.New-Zealand {
	background-position:0 -10432px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Nicaragua {
	background-position:0 -10496px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Niger {
	background-position:0 -10560px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Nigeria {
	background-position:0 -10624px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Niue {
	background-position:0 -10688px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Norfolk-Island {
	background-position:0 -10752px;
	width: 64px;
	height: 64px;
}
.flag-sprite.North-Korea {
	background-position:0 -10816px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Northern-Cyprus {
	background-position:0 -10880px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Northern-Mariana-Islands {
	background-position:0 -10944px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Norway {
	background-position:0 -11008px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Olympics {
	background-position:0 -11072px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Oman {
	background-position:0 -11136px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Pakistan {
	background-position:0 -11200px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Palau {
	background-position:0 -11264px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Palestine {
	background-position:0 -11328px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Panama {
	background-position:0 -11392px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Papua-New-Guinea {
	background-position:0 -11456px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Paraguay {
	background-position:0 -11520px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Peru {
	background-position:0 -11584px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Philippines {
	background-position:0 -11648px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Pitcairn-Islands {
	background-position:0 -11712px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Poland {
	background-position:0 -11776px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Portugal {
	background-position:0 -11840px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Puerto-Rico {
	background-position:0 -11904px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Qatar {
	background-position:0 -11968px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Red-Cross {
	background-position:0 -12032px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Republic-of-the-Congo {
	background-position:0 -12096px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Romania {
	background-position:0 -12160px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Russia {
	background-position:0 -12224px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Rwanda {
	background-position:0 -12288px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Barthelemy {
	background-position:0 -12352px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Helena {
	background-position:0 -12416px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Kitts-and-Nevis {
	background-position:0 -12480px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Lucia {
	background-position:0 -12544px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Martin {
	background-position:0 -12608px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saint-Vincent-and-the-Grenadines {
	background-position:0 -12672px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Samoa {
	background-position:0 -12736px;
	width: 64px;
	height: 64px;
}
.flag-sprite.San-Marino {
	background-position:0 -12800px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Sao-Tome-and-Principe {
	background-position:0 -12864px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Saudi-Arabia {
	background-position:0 -12928px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Scotland {
	background-position:0 -12992px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Senegal {
	background-position:0 -13056px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Serbia {
	background-position:0 -13120px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Seychelles {
	background-position:0 -13184px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Sierra-Leone {
	background-position:0 -13248px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Singapore {
	background-position:0 -13312px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Slovakia {
	background-position:0 -13376px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Slovenia {
	background-position:0 -13440px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Solomon-Islands {
	background-position:0 -13504px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Somalia {
	background-position:0 -13568px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Somaliland {
	background-position:0 -13632px;
	width: 64px;
	height: 64px;
}
.flag-sprite.South-Africa {
	background-position:0 -13696px;
	width: 64px;
	height: 64px;
}
.flag-sprite.South-Georgia-and-the-South-Sandwich-Islands {
	background-position:0 -13760px;
	width: 64px;
	height: 64px;
}
.flag-sprite.South-Korea {
	background-position:0 -13824px;
	width: 64px;
	height: 64px;
}
.flag-sprite.South-Ossetia {
	background-position:0 -13888px;
	width: 64px;
	height: 64px;
}
.flag-sprite.South-Sudan {
	background-position:0 -13952px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Spain {
	background-position:0 -14016px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Sri-Lanka {
	background-position:0 -14080px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Sudan {
	background-position:0 -14144px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Suriname {
	background-position:0 -14208px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Swaziland {
	background-position:0 -14272px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Sweden {
	background-position:0 -14336px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Switzerland {
	background-position:0 -14400px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Syria {
	background-position:0 -14464px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Taiwan {
	background-position:0 -14528px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tajikistan {
	background-position:0 -14592px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tanzania {
	background-position:0 -14656px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Thailand {
	background-position:0 -14720px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Togo {
	background-position:0 -14784px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tokelau {
	background-position:0 -14848px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tonga {
	background-position:0 -14912px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Trinidad-and-Tobago {
	background-position:0 -14976px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tunisia {
	background-position:0 -15040px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Turkey {
	background-position:0 -15104px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Turkmenistan {
	background-position:0 -15168px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Turks-and-Caicos-Islands {
	background-position:0 -15232px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Tuvalu {
	background-position:0 -15296px;
	width: 64px;
	height: 64px;
}
.flag-sprite.US-Virgin-Islands {
	background-position:0 -15360px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Uganda {
	background-position:0 -15424px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Ukraine {
	background-position:0 -15488px;
	width: 64px;
	height: 64px;
}
.flag-sprite.United-Arab-Emirates {
	background-position:0 -15552px;
	width: 64px;
	height: 64px;
}
.flag-sprite.United-Kingdom {
	background-position:0 -15616px;
	width: 64px;
	height: 64px;
}
.flag-sprite.United-Nations {
	background-position:0 -15680px;
	width: 64px;
	height: 64px;
}
.flag-sprite.United-States {
	background-position:0 -15744px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Unknown {
	background-position:0 -15808px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Uruguay {
	background-position:0 -15872px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Uzbekistan {
	background-position:0 -15936px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Vanuatu {
	background-position:0 -16000px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Vatican-City {
	background-position:0 -16064px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Venezuela {
	background-position:0 -16128px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Vietnam {
	background-position:0 -16192px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Wales {
	background-position:0 -16256px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Wallis-And-Futuna {
	background-position:0 -16320px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Western-Sahara {
	background-position:0 -16384px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Yemen {
	background-position:0 -16448px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Zambia {
	background-position:0 -16512px;
	width: 64px;
	height: 64px;
}
.flag-sprite.Zimbabwe {
	background-position:0 -16576px;
	width: 64px;
	height: 64px;
}
